<p>attribute-directive works!</p>


<!-- <nav>
    <ul>
      <li *ngFor="let item of menuItems" 
          [ngClass]="{'active': item === activeItem}" 
          (click)="setActiveItem(item)">
        {{ item }}
      </li>
    </ul>
  </nav> -->

  
<!-- <button [ngClass]="{ 'enabled': isEnabled, 'disabled': !isEnabled }" 
(click)="toggleState()">
{{ isEnabled ? 'Enabled' : 'Disabled' }}
</button> -->

<!-- <div class="progress-bar-container">
    <div class="progress-bar" [ngStyle]="{ 'width': progress + '%' }"></div>
  </div>
  <button (click)="increaseProgress()">Increase Progress</button> -->
  


  
  
<!-- <div>    
    <label for="inputValue">Enter true or false:</label>
    <input type="text" id="inputValue" [(ngModel)]="inputValue" />
  </div>
  <div [ngStyle]="{ 'color': inputValue === 'true' ? 'red' : (inputValue === 'false' ? 'green' : 'black') }">
    This text will change color based on input value.
  </div> -->
  

  