<p>hello-world works!</p>

<!-- Event binding  -->

<!-- <input type="text" (input)="handleInput($event); value1=$any($event.target).value" name="" id="">

<h1>{{value}}</h1>
<h1>{{value1}}</h1> -->

<!-- ngfor   -->

<!-- <h1>{{title}}</h1>

<ul>
    <li *ngFor="let movie of movies">
        {{movie.title}} - {{movie.director}} - {{movie.year}} - {{movie.genre}}
    </li>
</ul> -->

<!-- ngfor and ng-class  -->

<!-- <div>
    <div>{{title}}</div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                    <th>year</th>
                    <th>Genre</th>
                    <th>S.no</th>
                </tr>
            </thead>
            <tbody>
                <tr [ngClass]="{ 'bg-success': f, 'bg-danger': o,'bg-warning': l, }" *ngFor="let movie of movies; let i = index; let o=odd; let e=even; let f=first; let l=last">
                    <td>{{i + 1}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.director}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.genre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->



<!-- ngswitch  -->

<!-- Template -->
<!-- <input [value]="title" /> -->

<!-- Two way binding -->
<!-- <input [(ngModel)]="title" />
<p>{{ title }}</p> -->

<!-- ngif  -->

<!-- ngif -->
 
<!-- <div *ngIf="isVisible" class="">
    This text is conditionally shown.
  </div>

  <input type="text" name="" id="" *ngIf="isVisible" class="me-5">

  <button (click)="toggleVisibility()">Toggle Visibility</button> -->
  
<!-- ng-switch -->
<!-- <div [ngSwitch]="value">
    <p *ngSwitchCase="'A'">Case A</p>
    <p *ngSwitchCase="'B'">Case B</p>
    <p *ngSwitchDefault>Default Case</p>
  </div> -->


   <!-- ng-class -->

   <!-- <div [ngClass]="{ 'active': isActive }">This is a div</div>
<button (click)="toggleActive()">Toggle Active</button> -->


<!-- ngStyle  -->


<!-- <div [ngStyle]="{ 'color': textColor }">This is a div</div>
<button (click)="changeColor()">Change Color</button> -->

<!-- ng-if  -->

<!-- <h1>ng-if example</h1>

<input type="checkbox" [(ngModel)]="team">

<p *ngIf="team">Checked</p>
<p *ngIf="!team">Un-Checked</p> -->


  